services:

  flask-app-data-processing:
    container_name: flask_app_data_processing
    build:
      context: ./
      dockerfile: ./applications/data_processing_api/dockerfile.data_processing_api
    ports:
      - ${FLASK_DATA_PROCESSING_PORT_DOCKER}:${FLASK_DATA_PROCESSING_PORT_DOCKER}
    volumes:
      - ./shared/utils/datasets:/app/datasets
      - ./shared/utils/processed_output:/app/processed_output
    environment:
      # Flask-related env vars
      FLASK_DATA_PROCESSING_HOST: ${FLASK_DATA_PROCESSING_HOST}
      FLASK_DATA_PROCESSING_PORT: ${FLASK_DATA_PROCESSING_PORT_DOCKER}

      # Spark-related env vars
      SPARK_MASTER_RPC_PORT: ${SPARK_MASTER_RPC_PORT}
      SPARK_MASTER_URL: "spark://spark-master:${SPARK_MASTER_RPC_PORT}"
      SPARK_EVENTLOG_DIR: ${SPARK_EVENTLOG_DIR}

      # Postgres env vars
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_CONTAINER_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}

      # Data processing specific env vars
      PROCESSED_OUTPUT_DIR: ${PROCESSED_OUTPUT_DIR}
      OUTPUT_FOLDER_NAME_FOR_LABELS_DATA_SPARK_PITSIKALIS_2019: ${OUTPUT_FOLDER_NAME_FOR_LABELS_DATA_SPARK_PITSIKALIS_2019}
      OUTPUT_FOLDER_NAME_FOR_TRANSSHIP_AIS_DATA_SPARK_PITSIKALIS_2019: ${OUTPUT_FOLDER_NAME_FOR_TRANSSHIP_AIS_DATA_SPARK_PITSIKALIS_2019}
      OUTPUT_FOLDER_NAME_FOR_LOITERING_AIS_DATA_SPARK_PITSIKALIS_2019: ${OUTPUT_FOLDER_NAME_FOR_LOITERING_AIS_DATA_SPARK_PITSIKALIS_2019}
      OUTPUT_FOLDER_NAME_FOR_NORMAL_AIS_DATA_SPARK_PITSIKALIS_2019: ${OUTPUT_FOLDER_NAME_FOR_NORMAL_AIS_DATA_SPARK_PITSIKALIS_2019}
      OUTPUT_FOLDER_NAME_FOR_STOPPING_AIS_DATA_SPARK_PITSIKALIS_2019: ${OUTPUT_FOLDER_NAME_FOR_STOPPING_AIS_DATA_SPARK_PITSIKALIS_2019}
      OUTPUT_FOLDER_NAME_FOR_DEPRECATED_MUST_BE_SKIPPED_CLEANED_LOITER_STOP_TRAJECTORIES_SUBSET_V2: ${OUTPUT_FOLDER_NAME_FOR_DEPRECATED_MUST_BE_SKIPPED_CLEANED_LOITER_STOP_TRAJECTORIES_SUBSET_V2}
      OUTPUT_FOLDER_NAME_FOR_AGG_TRANSSHIP_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES: ${OUTPUT_FOLDER_NAME_FOR_AGG_TRANSSHIP_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES}
      OUTPUT_FOLDER_NAME_FOR_AGG_LOITERING_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES: ${OUTPUT_FOLDER_NAME_FOR_AGG_LOITERING_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES}
      OUTPUT_FOLDER_NAME_FOR_AGG_NORMAL_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES: ${OUTPUT_FOLDER_NAME_FOR_AGG_NORMAL_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES}
      OUTPUT_FOLDER_NAME_FOR_AGG_STOPPING_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES: ${OUTPUT_FOLDER_NAME_FOR_AGG_STOPPING_UNIQUE_VESSEL_DATA_PITSIKALIS_2019_WITH_EXTRA_FEATURES}
    networks:
      - captaima-network

  flask-app-model-deployment:
    container_name: flask_app_model_deployment
    build:
      context: ./
      dockerfile: applications/model_deployment_api/dockerfile.model_deployment_api
    volumes:
      - ./applications/model_deployment_api/models:/models
    ports:
      - ${FLASK_MODEL_DEPLOYMENT_PORT_DOCKER}:${FLASK_MODEL_DEPLOYMENT_PORT_DOCKER}
      - 8502:8502 # Temporary port for the streamlit prototype
    environment:
      # Flask-related env vars
      FLASK_MODEL_DEPLOYMENT_HOST: ${FLASK_MODEL_DEPLOYMENT_HOST}
      FLASK_MODEL_DEPLOYMENT_PORT: ${FLASK_MODEL_DEPLOYMENT_PORT_DOCKER}
      
      # Postgres env vars
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_CONTAINER_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}

      # MLFlow env vars
      MLFLOW_UI_PORT: ${MLFLOW_UI_PORT}
      MLFLOW_URI: http://${MLFLOW_CONTAINER_HOST}:${MLFLOW_UI_PORT}
    networks:
      - captaima-network

  flask-app-model-training:
    container_name: flask_app_model_training
    build:
      context: ./
      dockerfile: applications/model_training_api/dockerfile.model_training_api
    ports:
      - ${FLASK_MODEL_TRAINING_PORT_DOCKER}:${FLASK_MODEL_TRAINING_PORT_DOCKER}
    environment:
      # Flask-related env vars
      FLASK_MODEL_TRAINING_HOST: ${FLASK_MODEL_TRAINING_HOST}
      FLASK_MODEL_TRAINING_PORT: ${FLASK_MODEL_TRAINING_PORT_DOCKER}
      
      # Postgres env vars
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_CONTAINER_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}

      # MLFlow env vars
      MLFLOW_UI_PORT: ${MLFLOW_UI_PORT}
      MLFLOW_URI: http://${MLFLOW_CONTAINER_HOST}:${MLFLOW_UI_PORT}
    networks:
      - captaima-network

networks:
  captaima-network:
    driver: bridge
